@font-face {
	font-family: fatfont;
	src: url(FREEFATFONT-Regular.woff);
}

* {
	box-sizing: border-box;
	margin: 0;
}
html {
	margin: auto;
	font-family: 'Oswald', Arial, sans-serif;
}
body {
	/* overflow: hidden; */
	display: grid;
	grid-template-columns: 300px 1fr 300px;
	grid-template-rows: 200px 1fr 200px;
	background-color: yellow;
}
input {
	background-color: yellow;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.convert {
	grid-row: 2/3;
	display: grid;
	grid-template-rows: 1fr 200px 1fr;
}
.convert div {
	

	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	grid-template-rows: 1fr 50px;
}
.convert div:first-child {
	grid-row: 1/2;
}
.convert div:last-child {
	grid-row: 3/4;
}
.convert button {
	grid-row: 2/3;
	font-size: 200px;
	background-color: yellow;
	border: none;
	cursor: pointer;
}
.convert div input {
	width: 100%;
	border: none;
	border-bottom: 5px black solid;
	font-size: 100px;
	grid-column: 1/4;
	padding-left: 50px;
}
.convert div select {
	border: none;

	grid-column: 2/3;
	grid-row: 2/3;
	background-color: yellow;
	text-align: center;
}


.links {
	grid-row: 2/3;
	grid-column: 1/2;
	align-self: center;
}

.bottom {
	grid-row: 3/4;
	grid-column: 2/3;

	display: grid;
	grid-template-columns: 50% 50%;
	align-content: center;
	justify-items: center;
}
.gas {
	grid-column: 1/2;

	/* justify-content: center;
	align-content: center; */
	justify-self: center;

	/* border-right: 5px solid black; */
	/* width: 100%; */
}
.gas input {
	width: 100px;
	list-style-type: none;
}

.total {
	/* justify-items: center; */
	/* text-align: center; */
	/* width: 100%; */
	/* border-left: 5px solid black; */
}